.sidebar {
    background: #7386D5;
    color: #fff;
}

.sidebar-content {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.github-link {
    color: white;
    text-decoration: none;
}

html,body {
    height:100%;
}




